html,body{font-size:12px;font-family:"微软雅黑","microsoft yahei";padding:0;margin:0;text-align:center;background:#999;}
body{overflow:hidden;}
.toolbar,.drop{margin:0 auto;position:relative;z-index:100;overflow:visible;}
.drop{width:30px;height:30px;margin-top:-15px;}
.drop a{display:block;width:30px;height:30px;-webkit-border-radius:15px;border-radius:15px;}
.toolbar{display:none;}
.toolbar a,.menu a,.drop a{background-color:rgba(63,63,63,0.7);}
.menu ul,.menu li,.toolbar ul,.toolbar li{padding:0;margin:0;list-style-type:none;overflow:visible;}
.toolbar li{position:relative;overflow:visible;}
.toolbar li,.toolbar li a,.menu li,.menu li a{display:inline-block;}
.toolbar li a{width:70px;padding:0 15px;height:40px;line-height:40px;color:#ccc;text-decoration:none;}
.toolbar li a:hover,.drop a:hover,.menu li a:hover{background-color:#222;color:#fff;}
.toolbar li a:active,.drop a:active,.menu li a:active{color:#ff8a56;}
.toolbar li a:active .icon,.drop a:active .icon,.menu li a:active .icon{background-image:url(../img/icon-active.gif);}
.menu{position:absolute;display:none;left:0;}
.menu ul{border-top:1px solid #000;}
.menu li a{display:block;width:116px;height:30px;padding-left:24px;line-height:30px;text-align:left;}
.msg-mask{position:absolute;top:0;left:0;background:#111;height:100%;width:100%;z-index:1000;}
.msg-icon{margin:-50px 0 20px -50px;position:absolute;top:40%;left:50%;}
.msg-text{position:absolute;width:100%;text-align:center;top:50%;color:#fff;}
.icon{display:inline-block;width:16px;height:16px;vertical-align:middle;margin-right:3px;font-size:0;line-height:0;background:url(../img/icon-normal.gif) no-repeat;}
.icon-drop{background-position:0 0;}
.icon-hotkey{background-position:0 -16px;}
.icon-session{background-position:0 -32px;}
.icon-screen{background-position:0 -48px;}
.dot{display:inline-block;font-size:0;line-height:0;width:5px;height:5px;background-color:#ff8a56;vertical-align:middle;margin-right:4px;}
.dot-ani{animation:dot 1.5s infinite step-start both;}
@keyframes dot{0%{-webkit-transform:scale(1,1);transform:scale(1,1);}
5%{-webkit-transform:scale(1.2,1.2);transform:scale(1.2,1.2);}
10%{-webkit-transform:scale(1.4,1.4);transform:scale(1.4,1.4);}
15%{-webkit-transform:scale(1.8,1.8);transform:scale(1.8,1.8);}
20%{-webkit-transform:scale(1.4,1.4);transform:scale(1.4,1.4);}
30%{-webkit-transform:scale(1,1);transform:scale(1,1);}
100%{-webkit-transform:scale(1,1);transform:scale(1,1);}
}